
.video-player {
    width: 100%;
    height: auto;
}
.video-player::after {
	display: block;
	padding-top: 56.25%;
	content: "";
}

.video-rewiew-bar {
	position: relative;
}

.video-review-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.video-review-text-area-wrapper {
	position: absolute;
	top: 50%;
	width: 80%;
	left: 10%;
	padding: 10px;
	border: 1px solid darkgray;
	z-index: 10;
}

.video-review-text-area-wrapper textarea {
	height: 80px;
	width: 70%;
	vertical-align: text-bottom;
}

.video-review-text-area-wrapper img {
	vertical-align: baseline;
	margin-right: 10px;
}

.video-review-text-area-wrapper button {
	vertical-align: text-bottom;
	margin-left: 10px;
}

.reaction-list .media-left img {
	width: 20px;
}
